.houses-container{
  margin-bottom: 100px;

  .house-grid{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 20px;
  }

  .house-box{
    background-color: #fff;
    margin: 10px 0 20px;
    max-height: 350px;
    border: 1px solid #E8E8E8;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .img-house{
    width: 100%;
    height: 300px;
  }

}

